<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
      <title>
        {% block title %}
          Jackson's PHP Sample
        {% endblock %}
      </title>

      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/css/toastr.min.css" />

      {% block extra_css %}

      {% endblock %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
      <div class="container">
        <a class="navbar-brand" href="#">Issio</a>
        <button class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Expenses</a></li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            {% if authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end"
                  aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/auth/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/register">Register</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}

    {% endblock %}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/toastr.min.js"></script>

    <script>
      var statusData = JSON.parse( "{{
        session.getStatus()|json_encode|escape('js')
      }}" );
    </script>
    <script type="text/javascript">
      if (statusData) { switch (statusData.type) { case 'success':
      toastr.success(statusData.message); break; case 'error':
      toastr.error(statusData.message); break; } }
    </script>
  </body>
</html>
